{% block content %}
    <div class="container">
        <form method="POST">
            {{form.hidden_tag()}}
            {{form.name.label(class='form-label')}} 
            {{form.name(class='form-control')}} 
            <br>
            {{form.agreed.label(class='form-label')}} 
            {{form.agreed(class='form-control')}} 
            <br>
            {{form.gender.label(class='form-label')}} 
            {{form.gender()}}
            <br>
            {{form.hobby.label(class='form-label')}} 
            {{form.hobby(class='form-control')}}
            <br>
            {{form.others.label(class='form-label')}} 
            {{form.others(class='form-control')}}
            <br>
            {{form.submit(class='btn btn-primary')}}
        </form>
    </div>
  
    <div class="container">
        <form method="post" action="/">
            <input type="submit" value="Video" name="action1"/>
            <input type="submit" value="Video_2" name="action2"/>
        </form>
    </div>
{% endblock %}
